
.top-padding {
	height : 400px;
}

.top-padding-small {
	height : 150px;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;     /* Align the flex-items vertically */
  justify-content: center; /* Optional, to align inner flex-items
                              horizontally within the column  */
}
.auto-height {
	height:100%;
}

.card-text {
	color : gray;
}

.card {
	background-color : white;
	padding:20px;
	margin-top : 25px;
	margin-bottom : 25px;
}

.shadow-1 {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	z-index: 100;
}

.shadow-2 {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	z-index: 200;
}

.shadow-3 {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	z-index: 300;
}

.shadow-4 {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	z-index: 400;
}

.shadow-5 {
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	z-index: 500;
}



.profile-card {
	padding : 15px;
	background-color : white;
	width : 50%;
	height : 400px;
	position : fixed;
	top : 0 px;
	left : 25%;
}

.profile-image{
	height:250px;
	width: 250px;
}

.profile-card-small {
	padding : 15px;
	background-color : white;
	width : 500px;
	height : 125px;
	position : fixed;
	top : 20px;
	left : 0;
}

.profile-image-small {
	height:100px;
	width:100px;
}

.profile-card-small div {
	display:inline-block;
}

h1 {
	color : #727272;
}

.btn-invis {
	border-radius : 5px;
	border-width :3px;
	background: rgba(0,0,0,0);
	color : rgba(255,255,255,1);
	border-color : rgba(255,255,255,1);
}
.btn-invis:hover {
	border-radius : 5px;
	border-color : rgba(175,175,175,1);
	background : rgba(100,100,100,.1);
}
.btn-invis:active,
.btn-invis.active {
	background : rgba(100,100,100,1);
	color : rgba(255,255,255,1);
}

.btn-invis:focus,
.btn-invis.focus {
	border-radius : 5px;
	color : rgba(255,255,255,1);
	border-color : rgba(175,175,175,1);
	background : rgba(100,100,100,.1);
}

.content {
	padding-top : 25px;
	background: rgba(11,120,153,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(11,120,153,1) 0%, rgba(6,58,77,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(11,120,153,1)), color-stop(100%, rgba(6,58,77,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(11,120,153,1) 0%, rgba(6,58,77,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(11,120,153,1) 0%, rgba(6,58,77,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(11,120,153,1) 0%, rgba(6,58,77,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b7899', endColorstr='#063a4d', GradientType=1 );
	background: radial-gradient(ellipse at center, rgba(11,120,153,1) 0%, rgba(6,58,77,1) 100%);
	background-attachment: fixed;
}
